# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars

# Arquivos gerados
function-source.zip
*.zip

# Credentials
*.json
credentials/
